  .table {
      //======= COLROES BASE DE TABLA
      --bs-table-bg: #f4f6f9;
      --bs-table-color: #1a202c;

      //======= BORDES EXTERNOS REDONDEADO
      border-collapse: separate;
      border-spacing: 0;
      border: $borde-lineal ;
      border-radius: $borde-radial;
      table-layout: fixed !important;
      width: 100%;
      overflow: hidden;






      //======= ESTILOS CUERPO DE LA TABLA
      tbody {


          .acciones-tabla {
              display: flex;
              justify-content: center;
              margin: 3px;
              gap: 6px;


              a {
                  color: $enlace-color-inactivo-2;
                  padding: 4px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: 0.4s ease;

                  .accion_icon {
                      font-size: 20px;

                      &:hover {
                          color: $enlace-color-hover;
                      }
                  }

                  .accion_delete:hover {
                      color: $icono-color-warning;
                  }
              }

          }




      }

  }